<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>

<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${todo.title}"></h5>
            <p class="card-text" th:text="${todo.content}"></p>
            <p>완료여부
                <span th:if="${todo.completed}" class="badge bg-success">완료</span>
                <span th:unless="${todo.completed}" class="badge bg-warning">미완료</span>
            </p>
        </div>
    </div>

<!--    <a href="/todos">home</a>-->
<!--  private여서 접근이 불가능 하다.  -->
<!--  아래는 직접 접근한게 아니라 thymeleaf의 기능으로 아래처럼 써도
       getId(),getTitle()로 접근해서 값을 넣어준다-->
<!--    <h2 th:text="${todo.title}"></h2>-->
<!--    <h4 th:text="${todo.content}"></h4>-->
<!--    <p th:text="${todo.isCompleted()? '완료': '미완료'}"></p>-->

    <hr>
    <a th:href="@{/todos/{id}/toggle(id=${todo.id})}">toggle</a>
    <a th:href="@{/todos/{id}/edit(id=${todo.id})}" class="btn btn-warning">edit</a>
    <a th:href="@{/todos/{id}/delete(id=${todo.id})}" class="btn btn-danger">delete</a>
</div>
