<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}"
>

<div layout:fragment="content">
    <h1>할일목록</h1>

    <form action="/todos/search">
        <input type="text" name="keyword">
        <input type="submit">
    </form>
    <hr>
    <!--    <h3 th:each="todo:${todos}" th:text="${todo.getTitle()}" ></h3>-->
    <div th:each="todo:${todos}">
        <h3 th:text="${todo.getTitle()}"></h3>
        <a th:href="@{/todos/{id} (id= ${todo.getId()} ) }">detail</a>
    </div>

    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
            <th>Detail</th>
        </thead>
        <tbody>
            <tr th:each="todo:${todos}">

            </tr>
        </tbody>

    </table>
</div>
